#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Memory Latency
GenericName=Benchmark
Icon=/usr/share/matrix-gui-2.0/apps/images/arm-icon.png
Type=Application
Exec=runLmMemoryLatency.sh
Categories=arm
ProgramType=console
X-MATRIX-Lock=benchmarks
X-MATRIX-Description=/usr/share/matrix-gui-2.0/apps/arm_memory_latency/desc_arm_memory_latench.html

