#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Calculator
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/qt-icon.png
Exec=runCalculator.sh
Type=Application
Categories=settings
ProgramType=gui
