#!/usr/bin/env xdg-open
[Desktop Entry]
Name=OpenSSL Performance
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/encrypt-icon.png
Type=Application
Exec=/usr/bin/openssl_perf.sh
Categories=cryptos
ProgramType=console
X-MATRIX-LOCK=ssl
X-MATRIX-Description=/usr/share/matrix-gui-2.0/apps/openssl_perf_scripts/desc_openssl_perf.html
