#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Deform
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/qt-icon.png
Exec=runDeform.sh
Type=Application
Categories=Qt4
ProgramType=gui
X-MATRIX-Lock=qt
