#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Long Report
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/oprofile-icon.png
Type=Application
Exec=runOpLongReport.sh
Categories=profiling
ProgramType=console
X-MATRIX-DisplayPriority=4
