#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Power
GenericName=Power
Icon=/usr/share/matrix-gui-2.0/apps/images/power-icon.png
Type=Directory
X-MATRIX-CategoryTarget=power
