#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Secure Server
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/encrypt-icon.png
Type=Application
Exec=/usr/bin/openssl_start_server.sh
Categories=cryptos
ProgramType=console
X-MATRIX-Description=/usr/share/matrix-gui-2.0/apps/openssl_start_server_scripts/desc_openssl_start_server.html
