#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Linpack
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/arm-icon.png
Type=Application
Exec=runLinpack
Categories=arm
ProgramType=console
X-MATRIX-Lock=benchmarks
X-MATRIX-Description=/usr/share/matrix-gui-2.0/apps/linpack/desc_linpack.html
