#!/usr/bin/env xdg-open
[Desktop Entry]
Name=System Info
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/info-icon.png
Type=Application
Exec=sysSettings.sh
Categories=settings
ProgramType=console
