#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Evil Skull
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/3d-skull-icon.png
Type=Application
Exec=runOGLESEvilSkull.sh -qaf=1000
Categories=3d
ProgramType=gui
