#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Magic Lantern
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/3d-lantern-icon.png
Type=Application
Exec=runOGLES2MagicLantern.sh -qaf=1000
Categories=3d
ProgramType=gui
