#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Communication Bandwidth
GenericName=Benchmark
Icon=/usr/share/matrix-gui-2.0/apps/images/arm-icon.png
Type=Application
Exec=runLmComBandwidth.sh
Categories=arm
ProgramType=console
X-MATRIX-Lock=benchmarks
X-MATRIX-Description=/usr/share/matrix-gui-2.0/apps/arm_communication_bandwidth/desc_arm_communication_bandwidth.html

