#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Wi-Fi
GenericName=Wi-Fi
Icon=/usr/share/matrix-gui-2.0/apps/images/wireless-icon.png
Type=Directory
X-MATRIX-CategoryTarget=wifi
